{% extends 'base.html.twig' %} 
{% block title %}Coffeera{% endblock %}
{% block stylesheets %}
<link
  type="text/css"
  rel="stylesheet"
  href="{{ asset('resources/css/lightslider.css') }}"
/>

<link rel="stylesheet" href="{{ asset('resources/css/base.css') }}" />
<link rel="stylesheet" href="{{ asset('resources/css/admin/admin.css') }}" />
{% endblock %}


{% block headerBody %}
{% include 'admin/includes/sideBar.html.twig' %}
{% endblock %}
{% block body %}

{% include 'Component/Card/_delete_modal.html.twig' with{ 
    'title' : "Delete slide",
    'sentence'  : "Do you really want to delete these records? This process cannot be undone.",
    'path_delete'  : "", 
} only %}   

<main>

    <div class="btnAddDiv"><a href="{{path('admin_slider_create')}}" class="btnAdd">Add</a></div>
    <table>
    <caption>Slider List</caption>
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Summary</th>
            <th scope="col">Button text</th>
            <th scope="col">Button link</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% set i = 0 %}
        {% for slide in listSlide %}
            {% if i is same as(0) %}
                <tr>
                    <td data-label="Title">{{slide.getTitle}}</td>
                    <td data-label="Summary">{{slide.getContent}}</td>
                    <td data-label="Button text">{{slide.getButtonText}}</td>
                    <td data-label="Button link">{{slide.getButtonLink}}</td>
                    <td data-label="Action" class="tdAction">
                        <div class="divBtnAction">
                            <a href="{{path('admin_slider_edit', {'id': slide.getId})}}" class="btnEdit">Edit</a>
                            <button data-path="{{path('admin_slider_delete', {'id': slide.getId})}}" class="btnDelete">Delete</button>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td scope="row" data-label="Title">{{slide.getTitle}}</td>
                    <td data-label="Summary">{{slide.getContent}}</td>
                    <td data-label="Button text">{{slide.getButtonText}}</td>
                    <td data-label="Button link">{{slide.getButtonLink}}</td>
                    <td data-label="Action" class="tdAction">
                        <div class="divBtnAction">
                            <a href="{{path('admin_slider_edit', {'id': slide.getId})}}" class="btnEdit">Edit</a>
                            <button data-path="{{path('admin_slider_delete', {'id': slide.getId})}}" class="btnDelete">Delete</button>
                        </div>
                    </td>
                </tr>
            {% endif %}
            {% set i = i + 1 %}
        {% endfor %}
    
    </tbody>
    </table>
</main>

<script>
    $(document).ready(function () {
        // Gestionnaire de clic pour les boutons de suppression
        $('.btnDelete').on('click', function () {
            // Récupérer les données du bouton cliqué
            var pathDelete = $(this).data('path');
            $('#pathToDelete').attr('href', pathDelete);
            $('#myModal').addClass('show');
        });
    });
</script>


{% endblock %}

{% block footer %}
    
{% endblock %}
{% block contactForm %}
{% endblock %}